html,body {
    padding-top: 60px;
    background-color: #262931;
    color: white;
    margin-bottom: 60px;
}

/* Login Form*/
.login-form {
    width: 30%;
    margin-top: 2%;
}

/* Signup Form*/
.signup-form {
    width: 30%;
}

.stock-form{
    width: 30%;
    float: right;
    margin-bottom: 2%;
}

.chart {
    height: 800px;
    width: 90%;
    margin-top: 10%;
}


footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

