{% extends "base.html" %}

{% block main %}
<section id = "stock-info">
    
    <h1 class = "page-header text-center">{{symbol}} - {{name}} - ${{price}}</h1>
    {% include 'flash_messages.html' %}
    <form class = "stock-form" action="{{ url_for('profile')}}" method="post">
        <div class = "join-form">
             {{ form.csrf_token }}
            <div class="input-group-btn">
                {{ form.stock(class='form-control', placeholder="Search Stocks e.g. AAPL") }}
             </div>
        </div>
    </form>
    
    
    <table class = "table">
        
         <tbody>
             <tr>
                 <th></th>
                 <th></th>
                 <th></th>
                 <th></th>
             </tr>
             
             <tr>
                 <td>Today's Change ($)</td>    
                 <td>$ {{change}}</td>
                 <td>Today's Change (%)</td>
                 <td>{{change_percent}}%</td>
             </tr>
             
             <tr>
                 <td>Open:</td>
                 <td>${{open_price}}</td>
                 <td>Previous Close</td>
                 <td>${{close}}</td>
             </tr>
             
             {% if investor_type == "Growth" %}
             <tr>
                 <td>Volume</td>
                 <td>{{volume}}</td>
                 <td>Market Cap</td>
                 <td>$ {{market_cap}}</td>
             </tr>
             
             {% elif investor_type == "Value" %}
             <tr>
                 <td>52 Week Range</td>
                 <td>$ {{wlow}} - $ {{whigh}}</td>
                 <td>PE Ratio</td>
                 <td>{{pe_ratio}}</td>
             </tr>
            {% endif %}
         </tbody>
    </table>
    
</section>
{% endblock %}