{% extends "base.html" %}

{% block main %}

  <h2>Settings</h2>
  <div class="signup-form center-block">
    
    </br>
    <form action="{{ url_for('settings') }}" method="post">
      {{ form.csrf_token }}
       <div class="form-group">
        {{ form.investor_type.label }}
        {{ form.investor_type(class='form-control', placeholder="Fundamental or Technical") }}
      </div>
    
      <button type="submit" name="submit" class="btn btn-primary btn-block">Update</button>
      <br>
     
    </form>
    
  </div>
{% endblock %}
